<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TV Guide</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>

  <body>
  <div class="submission_page">
    <h1>TV Show Details</h1>
    <h3>Submit a New Show</h3>

    <form action="/television_shows" method="post">
      <div>
        <label for="title">Title:</label>
        <input value="<%= @title %>" type="text" id="title" name="title" />
        <span class="error-message"><%= @error ? @error[:title] : "" %></span>
      </div>
      <div>
        <label for="network">Network:</label>
        <input value="<%= @network %>" type="text" id="network" name="network" />
        <span class="error-message"><%= @error ? @error[:network] : "" %></span>
      </div>
      <div>
        <label for="synopsis">Synopsis:</label>
        <input value="<%= @synopsis %>" type="text" id="synopsis" name="synopsis" />
        <span class="error-message"><%= @error ? @error[:synopsis] : "" %></span>
      </div>
      <div>
        <label for="starting_year">Starting Year:</label>
        <input value="<%= @starting_year %>" type="text" id="starting_year" name="starting_year" />
        <span class="error-message"><%= @error ? @error[:starting_year] : "" %></span>
      </div>
      <div>
        <label for="genre">Genre:</label>
        <select name="Genre">
          <option value="Comedy">Comedy</option>
          <option value="Drama">Drama</option>
          <option value="Action">Action</option>
          <option value="Mystery">Mystery</option>
          <option value="Fantasy">Fantasy</option>
        </select>
      </div>

      <input type="submit" value="Add TV Show">
    </form>
  <a href="/television_shows">Back to List of Favorite TV Shows</a>
  </div>
  </body>
</html>
